* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #D2D2C1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tlou {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container-tlou img {
    width: 40%;
    left: 50%;
}

.container-tlou header {
        display: flex;
        align-items: center;
        justify-content: center;
}

.container-tlou .header-options {
            width: 100vw;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
}
