:root{
    --global-background: #9932cc;
    --global-purple: #9932cc;
}
.bg-purple{
    background-color: var(--global-background);
}

.logo{
    max-width: 300px;
    width: 100%;
    height: 30px;
}

#home .img{
    max-height: 500px;
    max-width: 500px;
    width: 100%;
    height: 100%;
}

footer {
    min-height: 200px;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

footer ul li a {
    text-decoration: none       ;
}